// File: assets/main.scss
// 1. Import the initial variables
$--columnGap: 20px;
@import "~bulma/sass/utilities/initial-variables";
@import url('https://rsms.me/inter/inter-ui.css');
// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$green: #005236;
$green-invert: #fff;
// Add a serif family
$sans: 'Inter UI',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$serif: "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $green;
$primary-invert: $green-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $sans;

// 4. Import the rest of Bulma
@import "~bulma/bulma";

// Body Utilities
html, body {
  background-color: #F6F4F2;
}

@import "components/type";
@import "components/nav";
@import "components/buttons";

section.section{
  position: relative;
  z-index: 10;
  @include mobile {
    padding-top: 1rem;
  }
}
#messagePage {
  @include desktop() {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
  }
  .container {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#content {
  padding-right: 0;
  .main {
    @include mobile {
      padding: 0 1rem 0 0;
    }
    @include tablet {
      padding:0 3rem 0 2rem;
      margin-top: 2rem;
    }
    @include desktop {
      padding:0 3rem 0 2rem;
      margin-top: 4rem;
    }
  }
}

// Transitions
.mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  &.inverse {
    transform: translate(0, -100%);
  }
}
.photo-wipe-enter-active, .photo-wipe-leave-active {
  transition: all .5s cubic-bezier(.97,0,.51,1);
}
.photo-wipe-enter, .photo-wipe-leave-to {
  transform: translate(0, -100%);
}

.photo-wipe-inverse-enter-active, .photo-wipe-inverse-leave-active {
  transition: all .5s cubic-bezier(.97,0,.51,1);
}
.photo-wipe-inverse-enter, .photo-wipe-inverse-leave-to {
  transform: translate(0, 0);
}

.page-scale-enter-active, .page-scale-leave-active {
  transition: all 0.5s ease;
}
.page-scale-enter, .page-scale-leave-to  {
  opacity:0;
  transform: scale(0.9);
}

.page-left-enter-active, .page-left-leave-active {
  transition: all 0.5s ease;
}
.page-left-enter {
  opacity:0;
  transform: translate(-200px, 0);
}

.slide-up-enter-active {
  transition: all 0.5s 0.5s ease;
}
.slide-up-leave-active {
  transition: all 0.25s ease;
}
.slide-up-enter, .slide-up-leave-to {
  opacity:0;
  transform: translate(0, 100px);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all 0.5s ease;
}
.slide-left-enter, .slide-left-leave-active {
  opacity:0;
  transform: translate(100px, 0px);
}

.overlay-in-enter-active,
.overlay-in-leave-active {
  transition: all 0.5s ease;
}
.overlay-in-enter,
.overlay-in-leave-active {
  opacity: 0;
}

.fade-in-enter-active, .fade-in-leave-active {
  transition: all 0.5s ease;
}
.fade-in-enter, .fade-in-leave-to  {
  opacity: 0
}
